button {
    font-family: 'Orbitron', 'Open Sans', serif;
    font-size: 14px;
    font-weight: 500;
    color: #FFF;
    height: 45px;
    width: 155px;
    cursor: pointer;
    display: inline-block;
}