#gameSpace
{
    height: 100vh;
    width: 100vw;
    background-color: rgb(31, 30, 30);
    box-shadow: inset 0 0 3.8em rgba(255,255,255,0.3), 0 0 3.8em rgba(255,255,255,0.3);
    overflow: hidden;
}
#activityFeed 
{
    height: 40vh;
    width: 45vw;
    margin: 0 auto;
    padding: 2vw;
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
    font-family: Monospace, 'Open Sans', serif;
    font-weight: 600;
    overflow: hidden;
}
#message
{
    margin-top: 15vh;
    text-align: left;
    font-size: 26px;
    display: inline-block;
}
#character
{
    opacity: 0;
    animation: fadeIn ease-in 1; -webkit-animation:fadeIn ease-in 1; -moz-animation: fadeIn ease-in 1;
    animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards; -moz-animation-fill-mode: forwards;
    animation-duration: 0.8s; -webkit-animation-duration: 0.8s; -moz-animation-duration: 0.8s;
}