@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700');

.TextFeed {
    white-space: pre-line;
    white-space:pre;
    font-family: "Courier New", 'Open Sans', serif;
    font-size: 16px;
    color: #FFF;
    font-weight: 400;
    text-align: left;
    display: inline-block;
    width: 570px;
    height: 385px;
    padding: 15px 20px 5px 20px;
}

.feedWrapper {
    width: 625px;
    height: 507px;
    padding: 0;
    margin: 0;
    background: rgba(0, 163, 204, 0.1);
}