@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
/*
 * CHARACTER CREATION
 */
#characterCreation 
{
    height: 100vh;
    width: 100vw;
    font-family: 'Orbitron', 'Open Sans', serif;
    font-size: 2vh;
    font-weight: normal;
    letter-spacing: 0.30em;
    background-color: rgb(31, 30, 30);
    box-shadow: inset 0 0 3.8em rgba(255,255,255,0.3), 0 0 3.8em rgba(255,255,255,0.3);
}
#playerName, #playerClass, #playerProficiency
{
    height: 66vh;
    width: 20vw;
    margin: 15vh 3vw 3vw 3vw;
    display: inline-block; 
    vertical-align: top;
    color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) solid 2px;
    box-shadow: inset 0 0 0.8em rgba(255,255,255,0.3), 0 0 0.8em rgba(255,255,255,0.3);
    transition: all 1s;
    opacity: 0;
    animation:fadeIn ease-in 1; -webkit-animation:fadeIn ease-in 1; -moz-animation:fadeIn ease-in 1;
    animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards;
    animation-duration:1s; -webkit-animation-duration:1s; -moz-animation-duration:1s;
}
#playerName:hover, #playerClass:hover, #playerProficiency:hover 
{
    color: rgb(31, 30, 30);
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 0 0.8em rgba(255,255,255,0.3), 0 0 0.8em rgba(255,255,255,0.3);
    border: black solid 2px;
    transition: 1.0s;
}
#characterCreation > * > label 
{
    display: block;
    font-size: 3.5vh;
}
#characterCreation > * > input, #characterCreation > * > * > button
{
    color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) solid 2px;
    box-shadow: inset 0 0 0.8em rgba(255,255,255,0.3), 0 0 0.8em rgba(255,255,255,0.3);
    transition: 0.5s;
}
#characterCreation > * > input
{
    height: 4vh;
    width: 10vw;
    font-size: 1.8vh;
    margin: 0 auto;
    text-align: center;
    font-family: 'Orbitron', 'Open Sans', serif;
}
#characterCreation > * > * > button 
{
    cursor: pointer;
    color: rgb(255, 255, 255);
}
#characterCreation > * > input:hover, #characterCreation > * > * > button:hover 
{
    box-shadow: inset 0 0 0 rgba(31,30,30,0.5), 0 0 1.5em rgba(31,30,30,0.7);
    border: black solid 2px;
    transition: 0.5s;
}
/*
 * PLAYER NAME
 */
#playerName 
{
    animation-delay: 0.7s; -webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s;
}
#playerName > label 
{
    margin: 6vh 0 18vh 0;
}
#nameInput
{
    background-color: white;

}
/*
 * PLAYER CLASS
 */
#playerClass 
{
    animation-delay: 1.2s; -webkit-animation-delay: 1.2s; -moz-animation-delay:1.2s;
}
#playerClass > label 
{
    margin: 6vh 0 1vh 0;
}
#playerClass > * > button 
{
    height: 8vh;
    width: 13vw;
    margin: 3vh 1vw 1.5vh 1vw;
    font-size: 1.8vh;
}
/*
 * PLAYER PROFICIENCY
 */
#playerProficiency
{
    animation-delay: 1.6s; -webkit-animation-delay: 1.6s; -moz-animation-delay: 1.6s;
}
#playerProficiency > label 
{
    margin: 6vh 0 1vh 0;
}
#playerProficiency > * > button
{
    height: 6vh;
    width: 13vw;
    margin: 3vh 1vw -1.1vh 1vw;
    font-size: 1.8vh;
}
/*
 * START GAME
 */
#startGame 
{
    margin: 0 auto;
    margin-top: -10px;
    padding: 0;
    clear: both;
    display: block;
    text-align: center;
}
#startGame > button
{
    margin: 0;
}
.notVisible 
{
    opacity: 0;
    color: rgba(0,0,0,0.8);
    background-color: black;
    box-shadow: none;
    transition: 0.0s;

}
.notVisible:hover 
{
    background-color: black;
    transition: 0.0s;
}
.visible 
{
    height: 7.5vh;
    width: 13vw;
    opacity: 0;
    font-size: 1.8vh;
    color: rgb(31, 30, 30);
    background-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) solid 2px;
    box-shadow: inset 0 0 0.8em rgba(255,255,255,0.3), 0 0 0.8em rgba(255,255,255,0.3);
    transition: .2s;
    cursor: pointer;
    animation-delay: 1s; -webkit-animation-delay: 1s; -moz-animation-delay: 1s;
    animation:fadeIn ease-in 1; -webkit-animation:fadeIn ease-in 1; -moz-animation:fadeIn ease-in 1;
    animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards;
    animation-duration:1s; -webkit-animation-duration:1s; -moz-animation-duration:1s;
}
.visible:hover 
{
    height: 9vh;
    width: 14vw;
    transition: .2s;
}