#titleMenu
{
    height: 150vh;
    width: 35vw;
    margin: 0 auto;
    margin-top: -25vh;
    margin-bottom: -25vh;
    background-color: rgb(31, 30, 30);
    box-shadow: inset 0 0 0 rgba(31,30,30,0.5), 0 0 1.5em rgba(31,30,30,0.7);
    border: black solid 2px;
    border-radius: 50%;
    transition: 2.0s;
}
#titleMenu:hover 
{
    box-shadow: inset 0 0 2.0em rgba(31,30,30,0.5), 0 0 2.5em rgba(31,30,30,0.7);
    width: 40vw;
    transition: 2.0s;
}
img 
{
    margin-top: 50vh;
    margin-bottom: 5vh;
    height: 35vh;
    width: 25vw;
}
#actionPanel 
{
    margin-top: 0vh;
}
#actionPanel > button 
{
    display: block;
    margin: 3vh auto;
    height: 6vh;
    width: 13vw;
    background-color:  rgba(63, 63, 63, 0.1);
    box-shadow: inset 0 0 1em rgba(255, 255, 255, 0.5), 0 0 1em rgba(255, 255, 255, 0.5);
    border: rgb(255, 255, 255) solid 2px;
    cursor: pointer;
    transition: 0.3s;
}
#actionPanel > button:hover 
{
    color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 0 1em rgba(255, 255, 255, 0.5), 0 0 1em rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}