@import url(https://fonts.googleapis.com/css?family=Roboto);
html, body, #root 
{
    min-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(31, 30, 30);
    overflow: hidden;
}
#titleMenu
{
    height: 40vh;
    width: 150vw;
    margin: 0 auto;
    margin-top: 30vh;
    margin-left: -25vw;
    margin-right: -25vw;
    background-color:  rgba(63, 63, 63, 0.1);
    box-shadow: inset 0 0 2em rgba(255, 255, 255, 0.3), 0 0 0.8em rgba(255,255,255,0.3);
    border: #fff solid 2px;
}
img 
{
    margin-top: 9vh;
    margin-bottom: 10vh;
    height: 23vh;
    width: 20vw;
}
#actionPanel 
{
    margin-top: 1vh;
}
#actionPanel > button 
{
    height: 7vh;
    width: 13vw;
    margin: 5vh 1vw 1vw 0;
    background-color:  rgba(63, 63, 63, 0.1);
    box-shadow: inset 0 0 1em rgba(255, 255, 255, 0.5), 0 0 1em rgba(255, 255, 255, 0.5);
    border: rgb(255, 255, 255) solid 2px;
    cursor: pointer;
}
#actionPanel > button:hover 
{
    color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 0 1em rgba(255, 255, 255, 0.5), 0 0 1em rgba(255, 255, 255, 0.5);
}

/*
 * NAVIGATION
 */
#navigation {
    margin: 3px;
    margin-top: 10vh;
    height: 15%;
    width: 100%;
}

/*
 * CHARACTER STATUS
 */
#characterStatus {
    height: 40vh;
    width: 10vw;
    margin: 0.5vw;
    float: left;
}

#fadePanel {
    margin: 0 auto;
    margin-top: 1px;
    height: 99%;
    width: 99%;
    background-color:  rgba(63, 63, 63, 0.1);
    box-shadow: inset 0 0 1em rgba(255, 255, 255, 0.5), 0 0 1em rgba(255, 255, 255, 0.5);
    border: rgb(255, 255, 255) solid 2px;
}

/*
 * ACTION BAR
 */
#actionBar {
    margin: 0 auto;
    margin-top: 2vh;
    height: 25vh;
    width: 45vw;
    text-align: center;
}

#actions {
    padding: 16px 11px 14px 11px;
    width: 100%;
    height: 100%;
    text-align: center;
}

#actions > * > button 
{
    height: 6vh;
    width: 30vw;
    margin: 10px 0 5px 0;
}
/*
 * DIALOGUE BAR
 */
#dialogueBar {
    margin: 3px; 
    width: 100%;
    height: 24%;
}

#dialogueButton {
    font-family: 'Orbitron', 'Open Sans', serif;
    text-decoration: none;
    border: none;
    position: relative;
    width: 150px;
    padding: 0;
    font-size: 14px;
    margin: 10px 0 10px 0;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    color: #FFF;
    border-radius: 0px;
    transition: all 0.4s;
    display: inline-block;
    height: 45px;
    width: 155px;
    background: rgba(0, 163, 204, .6);
}

#dialogueButton:hover {
    background-color: rgb(38, 185, 253);
}

.dialogueButtonDisabled {
    background: rgba(0, 163, 204, 0.1);
    border: 1px solid black;
  }