@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(31, 30, 30);
    overflow: hidden;
}

#root, #components {
    min-width: 100%;
    min-height: 100%;
}

#components {
    margin-top: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
    font-weight: bold;
    text-align: center;
}

#components > * {
    padding: 10px;
    flex: 1 100%;
    background-color: rgb(33, 45, 56);
}

/* 
 * TITLE MENU 
 */
#titleMenu {
    margin: 0 auto;
    margin-top: 100px;
    height: 90%;
    width: 100%;
    text-align: center;
    background-color: rgba(33, 45, 56, 0);
    border: 2px solid rgba(204, 204, 204, 0);
}

#titlePanel {
    margin: 0 auto;
    height: 65%;
    width: 29%;
    box-shadow: inset 0 0 0.8em rgba(255,255,255,0.3), 0 0 0.8em rgba(255,255,255,0.3);
    border: #fff solid 2px;
    background:  rgba(63, 63, 63, 0.1);
}

#titlePanel > img {
    margin-top: 80px;
    margin-bottom: 80px;
    height: 168px;
    width: 300px;
}

#actionPanel {
    margin-top: 10px;
    height: 42.5%;
}

#actionPanel > button {
    margin: 50px 10px 10px 10px;
    height: 55px;
    width: 205px;
    background: rgba(0, 95, 204, 0.1);
    box-shadow: inset 0 0 1em rgba(0, 122, 170, 0.5), 0 0 1em rgba(0, 122, 170, 0.5);
    border: rgb(0, 158, 221) solid 2px;
    cursor: pointer;
}

#actionPanel > button:hover {
    background-color: rgb(0, 158, 221);
    box-shadow: inset 0 0 0 rgba(0,122,170,0.5), 0 0 1.5em rgba(0,122,170,0.7);
}

/*
 * CHARACTER CREATION
 */
#characterCreation {
    height: 100%;
    width: 100%;
    font-family: "Roboto";
    letter-spacing: 0.30em;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    background-color: rgba(33, 45, 56, 0);
    font-family: 'Orbitron', 'Open Sans', serif;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

#namePanel, #classPanel, #proficiencyPanel {
    margin-top: 200px;
    transition: box-shadow .3s;
    width: 300px;
    height: 500px;
    margin: 50px;
    color: white;
    box-shadow: inset 0 0 0.8em rgba(255,255,255,0.3), 0 0 0.8em rgba(255,255,255,0.3);
    border: #fff solid 2px;
    display: inline-block; 
    vertical-align: top;
    transition: all 1s;

    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

#characterCreation > *:hover {
    color: rgba(0,0,0,0.8);
    background-color: #fff;
    transition: 1.0s;
    box-shadow: inset 0 0 0 rgba(255,255,255,0.3), 0 0 1.2em rgba(255,255,255,0.5);
}

#namePanel {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

#namePanel > input, label {
    display: block;
    margin: 0 auto;
}

#namePanel > label {
    margin: 50px 0 150px 0;
    font-size: 28px;
}

#namePanel > input {
    width: 150px;
    height: 30px;
    text-align: center;
    color: white;
    background-color: rgb(31, 30, 30);
    box-shadow: inset 0 0 0.8em rgba(255,255,255,0.3), 0 0 0.8em rgba(255,255,255,0.3);
    border: #fff solid 2px;
    font-family: 'Orbitron', 'Open Sans', serif;
}

#namePanel > input:hover {
    background-color: rgb(31, 30, 30);
    box-shadow: inset 0 0 0 rgba(31,30,30,0.5), 0 0 1.5em rgba(31,30,30,0.7);
    border: black solid 2px;
}

#classPanel {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay:1.2s;
    animation-delay: 1.2s;
}

#classPanel > label {
    margin: 50px 0 10px 0;
    font-size: 28px;
}

#classPanel > button {
    margin: 25px 10px 10px 10px;
    height: 55px;
    width: 205px;
    background-color: rgb(31, 30, 30);
    box-shadow: inset 0 0 0.8em rgba(255,255,255,0.3), 0 0 0.8em rgba(255,255,255,0.3);
    border: #fff solid 2px;
    cursor: pointer;
}

#classPanel > button:hover {
    background-color: rgb(31, 30, 30);
    box-shadow: inset 0 0 0 rgba(31,30,30,0.5), 0 0 1.5em rgba(31,30,30,0.7);
    border: black solid 2px;
}

#proficiencyPanel {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

#proficiencyPanel > label {
    margin: 50px 0 25px 0;
    font-size: 28px;
}

#proficiencyPanel > button {
    margin: 10px 10px 5px 10px;
    height: 45px;
    width: 205px;
    background-color: rgb(31, 30, 30);
    box-shadow: inset 0 0 0.8em rgba(255,255,255,0.3), 0 0 0.8em rgba(255,255,255,0.3);
    border: #fff solid 2px;
    cursor: pointer;
}

#proficiencyPanel > button:hover {
    background-color: rgb(31, 30, 30);
    box-shadow: inset 0 0 0 rgba(31,30,30,0.5), 0 0 1.5em rgba(31,30,30,0.7);
    border: black solid 2px;
}

/*
 * NAVIGATION
 */
#navigation {
    margin: 3px;
    height: 15%;
    width: 100%;
}

/*
 * ACTIVITY FEED
 */
#activityFeed {
    margin: 3px; 
    width: 60%;
    height: 65%;
    font-size: 14px;
    text-align: left;
    background: rgba(0, 163, 204, .4);
    backdrop-filter: blur(5px);
    font-family: "Courier New", Courier, monospace;
    overflow: hidden;
}

#notifications {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 35px;
}

.notification {
    background-color: rgb(33, 45, 56);
    border: 1px solid rgb(204, 204, 204);
    padding: 8px;
    margin: 10px 5px 10px 5px;
}

/*
 * CHARACTER STATUS
 */
#characterStatus {
    margin: 3px; 
    max-width: 20%;
    height: 65%;
}

#fadePanel {
    margin: 0 auto;
    margin-top: 1px;
    height: 99%;
    width: 99%;
    border: 1px solid rgba(255, 255, 255, .4);
    background-color: rgba(255, 255, 255, .1);
}

/*
 * ACTION BAR
 */
#actionBar {
    margin: 3px; 
    max-width: 20%;
    height: 66.5%;
    padding: 5px;
    background-color: rgb(33, 45, 56);
    border: 2px solid rgb(204, 204, 204);
}

#actions {
    padding: 16px 11px 14px 11px;
    border: 2px solid rgba(0, 163, 204, .9);
}

/*
 * DIALOGUE BAR
 */
#dialogueBar {
    margin: 3px; 
    width: 100%;
    height: 24%;
}

#dialogueButton {
    font-family: 'Orbitron', 'Open Sans', serif;
    text-decoration: none;
    border: none;
    position: relative;
    width: 150px;
    padding: 0;
    font-size: 14px;
    margin: 10px 0 10px 0;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    color: #FFF;
    border-radius: 0px;
    transition: all 0.4s;
    display: inline-block;
    height: 45px;
    width: 155px;
    background: rgba(0, 163, 204, .6);
}

#dialogueButton:hover {
    background-color: rgb(38, 185, 253);
}

.dialogueButtonDisabled {
    background: rgba(0, 163, 204, 0.1);
    border: 1px solid black;
  }
  
@media all and (min-width: 800px) {
    #activityFeed       { flex: 1 300px; }
    #navigation         { order: 1 }
    #characterStatus    { order: 2; } 
    #activityFeed       { order: 3; }
    #actionBar          { order: 4; }
    #dialogueBar        { order: 5; }
}
  